<div class="login">
  <img class="login__logo" src="/assets/logo.png" alt="Logo Revore" />
  <h1 class="login__title">Recupera tu contraseña</h1>
  <span class="login__intro">Ingresa tu nueva contraseña</span>
  <form class="form" [formGroup]="formNewPassword" (submit)="onSubmit()" autocomplete="off">
    <label class="form__label" for="password">Nueva contraseña</label>
    <div class="form__inputcont">
      <input
        class="form__input"
        type="password"
        name="password"
        placeholder="Ingresa tu nueva contraseña (mínimo 8 caracteres)"
        formControlName="password"
        #pass
        style="margin-bottom: 20px;"
      />
      <button
        class="btn-oninput"
        type="button"
        (click)="seePassword(!passHidden, pass, 'pass')"
      >
        <img src="/assets/icons/eye-slash.svg" alt="Eye" />
      </button>
      @if (formNewPassword.get('password')?.touched && formNewPassword.get('password')?.hasError('required')) {
        <span class="error-label">Campo Obligatorio</span>
      }
      @if (formNewPassword.get('password')?.touched && formNewPassword.get('password')?.hasError('minlength')) {
        <span class="error-label">Mínimo 8 caracteres</span>
      }
    </div>
    <label class="form__label" for="confirmPassword"
      >Confirma tu nueva contraseña</label
    >
    <div class="form__inputcont">
      <input
        class="form__input form__input-last"
        type="password"
        name="confirmPassword"
        placeholder="Confirma tu nueva contraseña"
        formControlName="confirmPassword"
        #passConf
        style="margin-bottom: 20px;"
      />
      <button
        class="btn-oninput"
        type="button"
        (click)="seePassword(!passConfHidden, passConf, 'passConf')"
      >
        <img src="/assets/icons/eye-slash.svg" alt="Eye" />
      </button>
      @if (formNewPassword.get('confirmPassword')?.touched && formNewPassword.get('confirmPassword')?.errors ) {
        <span class="error-label">Campo Obligatorio</span>
      }
    </div>
    <button class="form__submit" type="submit">Cambiar contraseña</button>
    <button class="form__back" routerLink="/login" type="button">
      Volver al login
      @if(isLoading){
        <img class="loading-icon" src="/assets/icons/loading.svg" alt="Cargando">
      }@else {
        <img src="/assets/icons/login.svg" alt="Icono Login">
    }
    </button>
  </form>
</div>
<app-toast [data]="toastData"></app-toast>
