.login {
    height: 100%;
    &__intro {
        margin-bottom: 48px;
    }
    &__title {
        margin-bottom: 13px;
        margin-top: 170px;
    }
    .form {
        &__input-last {
            margin-bottom: 48px;
        }
        &__label {
            margin-bottom: 14px;
        }
        &__submit {
            margin-bottom: 30px;
        }
    }
}
