@mixin primaryButton($bgColor: #2e3c59, $txtColor: #fff, $hBgColor: #253047, $border: #2e3c59) {
  align-items: center;
  background-color: $bgColor;
  border-radius: 16px;
  border: 2px solid $border;
  box-sizing: border-box;
  color: $txtColor;
  display: flex;
  font-family: "g-medium", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  justify-content: center;
  line-height: normal;
  padding: 16px 24px;
  position: relative;
  width: 100%;
  z-index: 2;
  &:hover {
    background-color: $hBgColor;
    cursor: pointer;
  }

  &-light {
    background-color: transparent;
    color: map-get($primary-color, 500);

    & img {
      filter: invert(19%) sepia(27%) saturate(999%) hue-rotate(182deg) brightness(95%) contrast(86%) !important;
    }
    &:hover {
      background-color: map-get($primary-color, 100);
    }
  }

  &-warning {
    background-color: map-get($secondary-color, 500);
    border: 2px solid map-get($secondary-color, 500);

    &:hover {
      background-color: map-get($secondary-color, 400);
    }
  }

}

@mixin googleButton() {
  align-items: center;
  background-color: #e9f1ff;
  border-radius: 9px;
  border: none;
  box-sizing: border-box;
  color: #4285f4;
  display: flex;
  font-family: "g-medium", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  justify-content: center;
  line-height: normal;
  padding: 16px 24px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

@mixin btnOnInput() {
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 15px;
  transform: translateY(50% - 50%);
  width: 21px;
  height: 21px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &:hover {
    transform: scale(1.04);
  }
}

@mixin btnToggle() {
  position: relative;
  height: 40px;

  &>label {
    width: 40px;
    height: 20px;
    background-color: #e5e5e5;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 50px;
    z-index: 1;

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50px;
      position: absolute;
      top: 0px;
      left: 2px;
      transition: 100ms;
      background-color: white;
    }
  }

  & input[type="checkbox"] {
    cursor: pointer;
    height: 25px;
    margin-right: 8px;
    opacity: 0;
    position: relative;
    width: 40px;
    z-index: 2;
  }

  .look:checked+label {
    background-color: #2e3c59;
  }

  .look:checked+label:after {
    left: 18px;
  }
}