.modalform {
    min-height: 700px;

    &__btncont {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__group {
        &-inline {
            & input{
                width: 40%;
                text-align: left;
            }
        }
    }
}