@font-face {
    font-family: "g-medium";
    src: url("../assets/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "g-semi";
    src: url("../assets/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "g-bold";
    src: url("../assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}