* {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(220, 220, 220, 1);
    
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(120, 120, 120, 0.2);
    background-color: rgba(120, 120, 120, 1);
    border-radius: 2px;
  }
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}
button {
  background: transparent;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
