$primary-color: (
    100: #D5D8DE,
    200: #ABB1BD,
    300: #828A9B,
    400: #58637A,
    500: #2E3C59,
    600: #253047,
    700: #1C2435,
    800: #121824,
    900: #090C12,    
);
$secondary-color: (
    100: #F8E3DA,
    200: #F1C7B4,
    300: #EBAA8F,
    400: #E48E69,
    500: #DD7244,
    600: #B15B36,
    700: #854429,
    800: #582E1B,
    900: #2C170E,    
);
$text-color: (
    100: #fff,
    500: #000000,
);
$aux-color: (
    warning: #ffc721,
    success: #1d9d61,
    error: #e04b59
);