.layoutlogin{
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    gap: 130px;
    justify-content: center;
    max-width: 1440px;
    padding: 3.2rem;
    width: 100%;
    &__aside{
        width: 61%;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    &__img{        
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    &__forms{
        width: 50%;
    }
}