@use "sass:map";
@use "theme" as theme;
.home {
    width: 100%;
    position: relative;
    &__cards,
    &__buttons {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 26px;
        justify-content: flex-start;
        width: 100%;
    }

    &__buttons {
        margin-bottom: 50px;
    }

    &__loading {
        filter: brightness(0);
    }

    .active-project {
        align-items: center;
        border-radius: 16px;
        border: 1px solid map.get(theme.$secondary-color, 500);
        box-shadow: 0 8px 8px #00000017;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 150px;
        justify-content: center;
        padding: 10px;
        position: absolute;
        right: 40px;
        top: -60px;
        width: 150px;
        &__title{
            color: map.get(theme.$secondary-color, 500);
        }
        &__img {
            width: 100px;
            height: 100px;
            border-radius: 7px;
        }
    }

}