.appreciation {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    padding-bottom: 10px;
    width: 100%;
    &__figure {
        display: flex;
        flex-direction: column;
        gap: 26px;
        max-width: 560px;
        width: 45%;
    }
    .buttonstoolbar{
        margin-top: -63px;
    }
}
