@import "mixins";

.buttonstoolbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 20px;
    padding: 0 20px 0 0;
    width: 100%;
    justify-content: space-between;

    &__separator {
        display: inline-flex;
        gap: 5px;
        align-items: center
    }

    &__button {
        @include primaryButton();
        font-family: "g-semi", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        padding: 10px 14px;
        width: fit-content;

        & img {
            height: 17px;
            width: 17px;
        }
    }
}