@use "mixins" as *;
@use "theme" as *;

.modalform {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 630px;
    padding: 20px;

    &__title {
        color: map-get($primary-color, 500);
        display: block;
        font-family: "g-semi", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__intro {
        color: map-get($primary-color, 300);
        display: block;
        font-family: "g-medium", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
        text-align: center;
    }

    &__form {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__group {
        min-height: 99px;
        position: relative;
        width: 45%;

        &-complete {
            width: 100%;
        }

        &-inline {
            display: inline-flex;
            gap: 5px;
            align-items: center;
            flex-wrap: wrap;

            & label {
                width: 58%;
                margin: 0;
            }

            & input {
                width: 25%;
                padding: 0 5px;
                text-align: center;
            }
        }
    }


    &__label {
        color: map-get($primary-color, 500);
        display: block;
        font-family: "g-medium", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 14px;
        text-align: left;

        &-warn {
            color: map-get($secondary-color, 500);
        }
    }

    &__prefix {
        color: #2E3C59;
        display: block;
        font-family: "g-medium", sans-serif;
        font-size: 16px;
        left: 15px;
        position: absolute;
        top: 49px;
    }

    &__input {
        @include basicInput();
        margin-bottom: 0;

        &-select {
            padding: 0 20px;
        }
    }

    &__error {
        color: map-get($secondary-color, 500);
        text-align: left;
        display: block;
        font-size: 12px;
        padding: 2px 0 0 5px;
        width: 100%;
    }

    &__button {
        @include primaryButton(map-get($primary-color, 500),
            map-get($text-color, 100),
            map-get($primary-color, 600));
        height: 48px;
    }
}