@import "theme";

.table {
    max-width: calc(100vw - 240px - 40px);
    overflow: auto;
    width: 100%;
    max-height: calc( 100vh - 300px);
    &__col {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(10, 1fr);
    }

    &__row {
        align-items: center;
        box-shadow: -1px -1px 0px 0px #0000001f inset;
        box-sizing: border-box;
        display: inline-flex;
        font-weight: 400;
        gap: 10px;
        justify-content: center;
        line-height: 20px;
        padding: 10px 16px;
        width: 100%;
        white-space: pre;

        &-header {
            background-color: #f5f5f5;
            color: map-get($primary-color, 500);
            font-family: "g-bold", sans-serif;
            font-size: 16px;
        }

        &-body {
            color: map-get($primary-color, 400);
            font-family: "g-medium", sans-serif;
            font-size: 12px;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        &-loading {
            grid-column: 1/15;
            justify-content: flex-start;

            &>img {
                filter: brightness(0);
            }
        }

        &>img {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

    &__input {
        border: 1px solid map-get($primary-color, 100);
        padding: 10px 6px;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 35px;
        color: map-get($primary-color, 400);
        font-family: "g-medium", sans-serif;
        font-size: 12px;
    }
}