@use "sass:map";
@use "theme" as theme;

.tabs {
    display: inline-flex;
    gap: 18px;
    justify-content: flex-start;
    margin-bottom: 22px;
    width: 100%;
    z-index: 1;
    position: relative;

    &__button {
        align-items: center;
        background-color: map.get(theme.$primary-color, 100);
        border-radius: 16px;
        color: map.get(theme.$primary-color, 300);
        cursor: pointer;
        display: flex;
        font-family: "g-semi", sans-serif;
        font-size: 14px;
        font-weight: 400;
        gap: 10px;
        justify-content: center;
        line-height: 17px;
        padding: 12px 18px;
        position: relative;
        text-align: center;
        z-index: 2;
        &-active {
            background-color: map.get(theme.$primary-color, 500);
            color: map.get(theme.$text-color, 100);

            &>img {
                filter: brightness(0) invert(1);
            }
        }

        &-children {
            padding: 10px 16px;
            font-size: 12px;
        }
    }
}