@use "sass:map";
@use "theme" as theme;
.card {
    border-radius: 16px;
    box-shadow: 0px 3px 3px 0px #00000017;
    height: 152px;
    padding: 16px;
    transition: all .5s ease-out;
    width: 436px;
    &:hover {
        transform: scale(1.02);
    }
    &__link {
        align-items: center;
        display: inline-flex;
        gap: 16px;
        height: 100%;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;
    }
    &__img {
        border-radius: 18px;
        height: 118px;
        width: 118px;
    }
    &__info {
        display: block;
        text-align: left;
    }
    &__title {
        color: map.get(theme.$primary-color, 400);
        font-family: "g-bold", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 100%;
    }
    &__text {
        color: map.get(theme.$primary-color, 400);    
        font-family: "g-medium", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    &__icon {
        height: 24px;
        width: 24px;
    }
}
