@use "sass:map";
@use "theme" as theme;
.header {
    display: block;
    text-align: left;
    width: 100%;
    &__intro {
        color: map.get(theme.$primary-color, 500);
        font-family: "g-bold", sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 26px;
    }
    &__title {
        color: map.get(theme.$primary-color, 500);
        font-family: "g-semi", sans-serif;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 21px;
    }
    &__description {
        color: map.get(theme.$primary-color, 400);
        font-family: "g-medium", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 56px;
    }
}
