<div class="login">
  <img class="login__logo" src="/assets/logo.png" alt="Logo Revore" />
  <p class="login__welcome">¡Bienvenido!</p>
  <h1 class="login__title">Iniciar Sesión</h1>
  <span class="login__intro">Inicia tu sesión con estos datos</span>
  <form class="form" [formGroup]="formLogin" (submit)="onSubmit()">
    <label class="form__label" for="email">Correo electrónico</label>
    <div class="form__inputcont">
      <input class="form__input" type="email" name="email" placeholder="Escribe tu correo electrónico"
        formControlName="email" />
    </div>
    @if (formLogin.get('email')?.touched && formLogin.get('email')?.errors ) {
      <span class="error-label">Campo Obligatorio</span>
    }
    <label class="form__label" for="password">Contraseña</label>
    <div class="form__inputcont">
      <input class="form__input form__input-last" type="password" name="password" formControlName="password"
        placeholder="Escribe tu contraseña" #pass />
      <button class="btn-oninput" type="button" (click)="seePassword(!passHidden, pass)">
        <img src="/assets/icons/eye-slash.svg" alt="Eye">
      </button>
    </div>
    @if (formLogin.get('password')?.touched && formLogin.get('password')?.errors ) {
      <span class="error-label">Campo Obligatorio</span>
    }
    <div class="form__options">
      <a class="options__link" routerLink="/login/recuperar-contrasena">Olvidaste tu contraseña</a>
    </div>
    <button class="form__submit">
      Ingresar
      @if(isLoading){
          <img class="loading-icon" src="/assets/icons/loading.svg" alt="Cargando">
        }@else {
          <img src="/assets/icons/login.svg" alt="Icono Login">
      }
    </button>
  </form>
  <div class="login__separator">
    <div class="separator__line"></div>
    <span class="separator__text">O</span>
  </div>
  <button class="login__google" type="button" (click)="signInWithGoogle()" [disabled]="isGoogleLoading">
    @if (isGoogleLoading) {
      <img class="loading-icon" src="/assets/icons/loading.svg" alt="Cargando">
    } @else {
      <img src="/assets/icons/google.svg" alt="Google">
    }
    Continuar con Google
  </button>
</div>
<app-toast [data]="toastData"></app-toast>