.login {
    width: 100%;
    max-width: 420px;

    &__logo {
        margin-bottom: 20px;
    }
    &__welcome {
        margin-top: 20px;
        margin-bottom: 8px;
    }
    &__title {
        margin-bottom: 6px;
    }
    &__intro {
        margin-bottom: 24px;
    }
    .form {
        &__label {
            margin-bottom: 10px;
        }
        &__input-last {
            margin-bottom: 10px;
        }
        &__options {
            margin-bottom: 24px;
        }
        &__submit {
            margin-bottom: 20px;
        }
    }
    &__separator {
        margin-bottom: 16px;
    }
    &__google {
        margin-bottom: 24px;
    }
}
