.login {
    height: 100%;
    &__intro {
        margin-bottom: 48px;
    }
    &__title {
        margin-bottom: 13px;
        margin-top: 170px;
    }
    .form {
        &__inputcont-otp{
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }
        &__input {
            width: 44px;
            padding: 7px 10px 4px 10px;
            text-align: center;
            font-size: 20px;
        }
        &__input-last {
            margin-bottom: 48px;
        }
        &__label {
            margin-bottom: 14px;
        }
        &__submit {
            margin-bottom: 30px;
        }
    }
}
